#container{
    background-image: url('https://raw.githubusercontent.com/gustavoguanabara/html-css/master/exercicios/modulo-03/ex022/imagens/wallpaper003.jpg');
    background-size: 100% 100%;

    height: 96vh;
    background-color: purple;
    padding: 10px;
    position: relative;
}

#conteudo{
    background-image: url('https://raw.githubusercontent.com/gustavoguanabara/html-css/master/exercicios/modulo-03/ex022/imagens/wallpaper003.jpg');
    background-size: 100% 100%;

    height: 200px;
    background-color: yellow;
    width: 400px;
    position: absolute;
    
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}